.title{
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: black;
  margin-top: 5%;
  font-size: 300%;
  opacity: 0.7;
}
.start{
  width: 79%;
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
}
.start img{
  margin-top: -10%;
}
.pnk{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top:2%;
}
.grm{
  margin: 5px;
}
.td-g{
  background-color: lightgray;
  transition:background-color 0.3s;
  border: 5px solid #eeeeee;
  width: auto;
  height: 100px;
  text-align: center;
  font-size: 110%;
}
.td-w{
  background-color: #eeeeee;
  transition:background-color 0.3s;
  border: 5px solid #eeeeee;
  width: auto;
  height: 100px;
  text-align: center;
  font-size: 110%;
}


.td-w2{
  background-color: #eeeeee;
  transition:background-color 0.3s;
  border: 5px solid #eeeeee;
  width: auto;
  height: 100px;
  text-align: center;
  font-size: 200%;
}
.td-g2{
  background-color: lightgray;
  transition:background-color 0.3s;
  border: 5px solid #eeeeee;
  width: auto;
  height: 100px;
  text-align: center;
  font-size: 200%;
}

/*////////////////////////////////////////////////////////*/
.td-g1{
  background-color: lightgray;
  transition:background-color 0.3s;
  border: 5px solid #eeeeee;
  width: 70%;
  height: 100px;
  font-weight: bold;
  font-size: 120%;
}

.td-w1{
  background-color: #eeeeee;
  transition:background-color 0.3s;
  border: 5px solid #eeeeee;
  width: auto;
  height: 100px;
  width: 70%;
  font-weight: bold;
  font-size: 120%;
}
.td-g2 a{
  text-decoration: none;
  border-radius: 100px;
  border: 3px solid rgb(0, 113, 227);
  background-color: rgb(0, 113, 227);
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-left:  20px;
  padding-right:20px;
  text-align: center;
}
.td-g2 a:hover{
  border: 3px solid rgb(0, 126, 240);
  background-color: rgb(0, 126, 240);
}